<div class="row mb-4">

    <div class="col col-12 col-lg-6 mb-4">
        <app-dona title="Ventas" [lables]="ventas.label" [data]="ventas.data"></app-dona>
    </div>

    <div class="col col-12 col-lg-6 mb-4">
        <app-dona title="Productos" [lables]="productos.label" [data]="productos.data"></app-dona>
    </div>

</div>

<div class="row">

    <div class="col col-12 col-lg-6 mb-4">
        <app-dona title="Tecnologías" [lables]="tecnologias.label" [data]="tecnologias.data"></app-dona>
    </div>

    <div class="col col-12 col-lg-6 mb-4">
        <app-dona title="Consolas" [lables]="consolas.label" [data]="consolas.data"></app-dona>
    </div>

</div>