<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">
                    Información de mi cuenta
                    <small *ngIf="user.status==='I'" class="badge badge-danger">Inactivo</small>
                    <small *ngIf="user.status==='A'" class="badge badge-success">Activo</small>
                </h3>

                <form class="form" [formGroup]="profileForm" (submit)="updateProfile()">

                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-account-card-details"></i></div>
                            <input type="text" class="form-control" placeholder="Nombre Apellido"
                                formControlName="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            Correo Electrónico
                            <small class="badge badge-success" *ngIf="user.google">with Google</small>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-contact-mail"></i></div>
                            <input type="email" class="form-control" placeholder="Correo electrónico"
                                [readOnly]="user.google" formControlName="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Rol</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-account-star"></i></div>
                            <input type="text" class="form-control" placeholder="Rol" [readOnly]="isNormalUser"
                                formControlName="role">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Registrado el</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-bookmark-plus"></i></div>
                            <input type="text" class="form-control" readonly formControlName="createdOn">
                        </div>
                        <small *ngIf="lastUpdate" class="text-muted">Última actualización: {{lastUpdate}} </small>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!canProfileUpdate"
                        [class.disabled]="!canProfileUpdate">
                        <i *ngIf="profileUpdating" class="fa fa-spin fa-spinner"></i>
                        Actualizar Perfil
                    </button>

                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Foto de Perfil</h4>


                <div class="dropify-wrapper has-preview">

                    <input #inputImage type="file" id="input-file-now-custom-1" class="dropify"
                        (change)="onFileChange($event.target.files)">

                    <button type="button" *ngIf="imageFile" class="dropify-clear" (click)="restoreImage()">
                        Cancelar
                    </button>

                    <div class="dropify-preview" style="display: block;">
                        <span class="dropify-render">
                            <img *ngIf="!newImage" class="img-rounded" [src]="user.urlImage">
                            <img *ngIf="newImage" class="img-rounded" [src]="newImage">
                        </span>
                        <div class="dropify-infos">
                            <div class="dropify-infos-inner">
                                <p class="dropify-infos-message">Arrastre y suelte o haga clic para reemplazar</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" [disabled]="!canImageUpdate" (click)="updateImage()"
                    class="btn btn-lg btn-primary btn-block mt-3" [class.disabled]="!canImageUpdate">
                    <i *ngIf="imageUpdating" class="fa fa-spin fa-spinner"></i>
                    Cambiar Imagen
                </button>

            </div>
        </div>

    </div>
</div>