<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input id="txtBuscar" type="text" class="form-control" [readOnly]="loading"
                    placeholder="Buscar usuarios por nombre...">
                <small *ngIf="searching" class="text-muted">buscando...</small>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-secondary text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-3x fa-spinner"></i>
            <p class="mb-0">¡Espere por favor!</p>
        </div>
    </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">

    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Usuarios
                    <span class="badge badge-success">{{totalUser}}</span>
                </h4>
                <h6 class="card-subtitle">Usuarios registrados en la aplicación</h6>

                <div class="table-responsive">
                    <table class="table table-bordered color-bordered-table muted-bordered-table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Autenticación</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td class="text-center align-middle">
                                    <img class="img-circle" width="50px" [src]="user.urlImage" [alt]="user.name">
                                </td>
                                <td class="align-middle"> {{user.name}} </td>
                                <td class="align-middle"> {{user.email}} </td>
                                <td class="align-middle"> {{user.role}} </td>
                                <td class="text-center align-middle">
                                    <span *ngIf="user.google" class="badge badge-pill badge-danger">Google</span>
                                    <span *ngIf="!user.google" class="badge badge-pill badge-info">Normal</span>
                                </td>
                                <td class="text-nowrap text-center align-middle">
                                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i
                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i
                                            class="fa fa-close text-danger"></i> </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row ">
                    <div class="col-auto mr-auto text-left">
                        <button class="btn btn-secondary" [disabled]="!hasPrevious" [class.disabled]="!hasPrevious"
                            (click)="toPrevious()">
                            <i class="fa  fa-caret-left"></i>
                            Anteriores
                        </button>
                        <button class="btn btn-secondary ml-sm-2 mt-2 mt-sm-0" [disabled]="!hasNext"
                            [class.disabled]="!hasNext" (click)="toNext()">
                            Siguientes
                            <i class="fa  fa-caret-right"></i>
                        </button>
                    </div>
                    <div class="col-auto text-muted text-right align-middle">
                        <span class="ml-2">{{showingEntries}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>